<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.madcowscientist.puzzledlove" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LevelsActivity"
            android:label="@string/title_activity_levels"
            android:parentActivityName=".MainActivity" >

            <!-- Logical hierarchy navigation for older Android devices (< API 16) -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.madcowscientist.puzzledlove.MainActivity" />
        </activity>
        <activity
            android:name=".TicTacToe"
            android:label="@string/title_activity_tic_tac_toe"
            android:parentActivityName=".LevelsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.madcowscientist.puzzledlove.LevelsActivity" />
        </activity>
        <activity
            android:name=".Hangman"
            android:label="@string/title_activity_hangman"
            android:parentActivityName=".LevelsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.madcowscientist.puzzledlove.LevelsActivity" />
        </activity>
    </application>

</manifest>
